{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action="/admin/posts/new" method="POST">
            <label for="title" class="mt-2">Título: </label>
            <input type="text" name="title" id="title" class="form-control" required>
            <label for="slug" class="mt-2">Slug: </label>
            <input type="text" name="slug" id="slug" class="form-control" required>
            <label for="description" class="mt-2">Descrição: </label>
            <input type="text" name="description" id="description" class="form-control" required>
            <label for="content" class="mt-2">Conteúdo: </label>
            <textarea name="content" id="content" rows="10" class="form-control" required></textarea>
            <label for="category" class="mt-2">Categoria: </label>
            <select name="category" id="category" class="form-select">
                <option value="0">Selecione a Categoria</option>
                {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
                {{else}}
                <option value="0">Nenhuma Categoria registrada</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-success mt-3">Criar postagem</button>
        </form>
    </div>
</div>